<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{HTTP_HOST} ^joelalejandro\.com$ [OR]
    RewriteCond %{HTTP_HOST} ^www\.joelalejandro\.com$
    RewriteRule ^(.*)$ https://charliebluebrahm.com/$1 [R=301,L]
</IfModule>
